$color-white: white;
$color-gradient: linear-gradient(
  to right,
  hsl(6, 100%, 80%),
  hsl(335, 100%, 65%)
);
$color-pale-blue: hsl(243, 100%, 93%);
$color-gray-blue: hsl(229, 7%, 55%);
$color-dark-blue-1: hsl(228, 56%, 26%);
$color-dark-blue-2: hsl(229, 57%, 11%);

$border-radius: 1rem;

$fw-1: 400;
$fw-2: 700;

@mixin respond-to($bp) {
  @if $bp == "lg" {
    //1050px
    @media (max-width: 65.625em) {
      @content;
    }
  } @else if $bp == "md" {
    //850px
    @media (max-width: 53.125em) {
      @content;
    }
  } @else if $bp == "sm" {
    //450px
    @media (max-width: 28.125em) {
      @content;
    }
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Raleway", sans-serif;
}
